@font-face {
    font-family: "Pop-regular";
    src: url('../Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: "Pop-light";
    src: url('../Poppins/Poppins-Light.ttf');
}
@font-face {
    font-family: "Pop-bold";
    src: url('../Poppins/Poppins-Bold.ttf');
}